<h2 align="center">:: Blog ::</h2>
<h2>:: Posts</h2>
<a href="/posts/admi">Ir a Pantalla Administrativa</a>
<br>
<br>
  <body>
   <% @posts.sort{ |a, b| b.created_at <=> a.created_at }.each do |post| %>

      <hr>
        <h3><%= post.title %></h3>
        <pre><h3><%= post.text %></h3></pre>
        <br>
        <b>Post subido el:</b>
        <%= post.created_at %>
        <br>
        <%= post.like %>
        <a href="/posts/like/<%= post.id %>">   Like</a>
        <%= link_to 'Show', post %>
       </hr>
        <br>
        <br>
    <% end %>
  </body>
<br>