<p id="notice"><%= notice %></p>

<p>
  <h2><%= @post.title %></h2>
</p>
<hr>

<pre><h3>
  <%= @post.text %>
</h3></pre>

<p>
  <strong>Likes:</strong>
  <%= @post.like %>
  <a href="/posts/like2/<%= @post.id %>">   Like</a>
  <a href="/posts/dislike2/<%= @post.id %>">  Dislike</a>
  </p>
<b>Categoria:</b>
<%= @post.category %>
<br>
<p>
	<a href="/posts/comment/<%= @post.id %>">Comentar</a>
  <br>
<hr>
	<br>
      <strong>Comentarios:</strong>
      <br>
      <br>
      <% @post.reviews.sort{ |a, b| b.created_at <=> a.created_at }.each do |rev| %>
      <hr>
      <pre><%= rev.coment %></pre>
      <strong>Fecha Comentario:</strong>
      <%= rev.created_at %>
    </hr>
      <br>
      <br>
      <% end %>
</p>

<%= link_to 'Back', posts_path %>
